@charset "UTF-8";
/*
0 - 600px:       Phone
600 - 900px:     Tablet Portrait
900 - 1200px:    Tablet Landscape
1200 - 1800px:   is where our normal styles apply
1800px + :       Big Desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- desktop
*/
/*除上16轉成em*/
.topnav__wrap .topnav__base {
  max-width: 140rem;
  padding: 0rem 5rem;
  margin: auto;
  height: 8rem;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}
.topnav__wrap .topnav__base .topnav__tool {
  padding-right: 2rem;
}
.topnav__wrap .topnav__base .topnav__tool .topnav__sidebarlabel {
  cursor: pointer;
}
.topnav__wrap .topnav__base .topnav__logo {
  padding-right: 2rem;
}
.topnav__wrap .topnav__base .topnav__optionsbox {
  display: flex;
}
@media (max-width: 1000px) {
  .topnav__wrap .topnav__base .topnav__optionsbox {
    display: none;
  }
}
.topnav__wrap .topnav__base .topnav__optionsbox .topnav__options {
  padding: 0 1.6rem;
}
.topnav__wrap .topnav__base .topnav__sign {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: 2rem;
}
@media (max-width: 1000px) {
  .topnav__wrap .topnav__base .topnav__sign {
    display: none;
  }
}
@media (max-width: 1000px) {
  .topnav__wrap .topnav__base .topnav__icon {
    flex-grow: 1;
    text-align: right;
  }
}

.topnav__wrap .mainheader__base {
  max-width: 160rem;
  padding: 0 5rem;
  margin: auto;
}
.topnav__wrap .mainheader__base .mainheader__4headerbox {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15rem;
}
.topnav__wrap
  .mainheader__base
  .mainheader__4headerbox
  .mainhedaer__headerbox-m {
  font-size: 3rem;
}
.topnav__wrap
  .mainheader__base
  .mainheader__4headerbox
  .mainheader__headerbox-l {
  font-size: 5rem;
}
.topnav__wrap
  .mainheader__base
  .mainheader__4headerbox
  .mainheader__headerbox-s {
  font-size: 2.4rem;
}
.topnav__wrap
  .mainheader__base
  .mainheader__4headerbox
  .mainheader__header-btnbox {
  margin-top: 5rem;
}
.topnav__wrap
  .mainheader__base
  .mainheader__4headerbox
  .mainheader__header-btnbox
  .mainheader__headerbtn {
  text-decoration: none;
  background-color: #e99f3f;
  border-radius: 0.2rem;
  padding: 1rem 2.5rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.topheader__wrap {
  color: var(--color-blue);
  position: relative;
}
.topheader__wrap .topheader__base {
  max-width: 140rem;
  margin: auto;
  padding: 1rem 5rem;
}
.topheader__wrap .topheader__base .topheader__textbox .topheader__text1 {
  font-size: 2rem;
  font-weight: 700;
}
.topheader__wrap .topheader__base .topheader__textbox .topheader__text2 {
  font-size: 1.6rem;
}
.topheader__wrap .topheader__background {
  position: absolute;
  background-image: url(/img1.jpg);
  background-position: center;
  background-size: cover;
  height: 60rem;
  width: 100%;
  z-index: -1;
}
.topheader__wrap .topheader__background::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(transparent 80%, #69341b 100%);
  background-position: center;
  background-size: cover;
  height: 60rem;
  width: 100%;
  z-index: -1;
}
.topheader__wrap .topheader__background__menu {
  position: absolute;
  background-image: url(/img1.jpg);
  background-position: center;
  background-size: cover;
  height: 40rem;
  width: 100%;
  z-index: -1;
}

.countrybar__wrap {
  background-color: var(--color-blue-dark);
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
.countrybar__wrap .countrybar__base {
  max-width: 140rem;
  padding: 0 5rem;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 1.6rem;
  letter-spacing: 0.115rem;
  line-height: 1.4;
}
.countrybar__wrap .countrybar__base .countrybar__countrybox {
  display: flex;
}
.countrybar__wrap
  .countrybar__base
  .countrybar__countrybox
  .countrybar__country {
  margin-right: 1rem;
}
.countrybar__wrap .countrybar__base .countrybar__countrybox .countrybar__flag {
  margin-right: 1rem;
}
.countrybar__wrap
  .countrybar__base
  .countrybar__phonebox
  .countrybar__phonebox {
  margin-right: 3rem;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-blue: #005edc;
  --color-blue-dark: #0c214d;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: ivory;
  font-family: "Cabin", sans-serif;
}

.spacer {
  height: 8rem;
}

.line {
  max-width: 150rem;
  margin: auto;
  border-bottom: solid 1px;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  /*  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  fordown
  */
}

.arrowdown {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.searchmenu__wrap .searchmenu__base {
  max-width: 140rem;
  padding: 0 5rem;
  margin: auto;
  display: flex;
  margin-top: 30rem;
}
.searchmenu__wrap .searchmenu__base .searchmenu__3sections {
  display: flex;
  align-items: center;
  width: 25%;
  height: 6rem;
}
.searchmenu__wrap .searchmenu__base .searchmenu__3sections .searchmenu__text {
  font-size: 2rem;
  margin-right: 1rem;
}
.searchmenu__wrap .searchmenu__base .searchmenu__3sections .searchmenu__select {
  font-size: 2rem;
  color: var(--color-blue);
  margin-right: 1rem;
}
.searchmenu__wrap .searchmenu__base .searchmenu__mixedbox {
  display: flex;
  align-items: center;
}
.searchmenu__wrap .searchmenu__base .searchmenu__mixedbox .searchmenu__cancel {
  color: var(--color-blue);
  font-size: 2rem;
  margin-right: 1rem;
}
.searchmenu__wrap .searchmenu__base .searchmenu__mixedbox .searchmenu__apply {
  background-color: #f6e063;
  color: var(--color-blue);
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
}

.search__hidden__wrap {
  background-color: var(--color-blue);
}
.search__hidden__wrap .search__hidden__base {
  max-width: 140rem;
  margin: auto;
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.search__hidden__wrap .search__hidden__base .hidden__listbox {
  text-align: center;
  width: 25%;
  padding: 3rem 0rem;
}
.search__hidden__wrap .search__hidden__base .hidden__listbox .hidden__checkbox {
  display: none;
}
.search__hidden__wrap
  .search__hidden__base
  .hidden__listbox
  .hidden__list__label {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.filter__wrap .filter__base {
  max-width: 140rem;
  margin: auto;
  padding: 2rem 5rem;
}
.filter__wrap .filter__base .filter__mixedbox {
  display: flex;
}
.filter__wrap .filter__base .filter__mixedbox .filter__textbox {
  margin-right: 2rem;
}
.filter__wrap .filter__base .filter__mixedbox .filter__textbox .filter__text {
  font-size: 1.6rem;
}
.filter__wrap .filter__base .filter__mixedbox .filter__optionsbox {
  margin-right: 2rem;
}
.filter__wrap
  .filter__base
  .filter__mixedbox
  .filter__optionsbox
  .filter__option {
  display: none;
}
.filter__wrap
  .filter__base
  .filter__mixedbox
  .filter__optionsbox
  .filter__optionlabel {
  padding: 0.7rem 2rem;
  font-size: 1.6rem;
  border: 1px solid var(--color-blue);
  border-radius: 0.2rem;
  color: var(--color-blue);
  cursor: pointer;
}
.filter__wrap .filter__base .filter__mixedbox .filter__shipbox {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}
.filter__wrap .filter__base .filter__mixedbox .filter__shipbox .filter__ship {
  font-size: 2rem;
  margin-right: 2rem;
}
.filter__wrap .filter__base .filter__mixedbox .filter__shipbox .filter__arrow {
  margin-right: 2rem;
}

.displaycruise__base {
  max-width: 130rem;
  padding: 0 5rem;
  margin: auto;
  margin-bottom: 3rem;
}
.displaycruise__base .displaycruise__mixedbox {
  display: flex;
  height: 25rem;
  border: 1px solid grey;
  margin-bottom: 3rem;
}
.displaycruise__base .displaycruise__mixedbox .displaycruise__imgbox {
  width: 30%;
}
.displaycruise__base
  .displaycruise__mixedbox
  .displaycruise__imgbox
  .displaycruise__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.displaycruise__base .displaycruise__mixedbox .displaycruise__centerbox {
  width: 55%;
  font-size: 1.6rem;
  padding: 2rem 2rem 3rem 2rem;
}
.displaycruise__base .displaycruise__mixedbox .displaycruise__centerbox h4 {
  font-size: 2rem;
  color: var(--color-blue);
}
.displaycruise__base .displaycruise__mixedbox .displaycruise__centerbox h3 {
  font-size: 3rem;
  color: var(--color-blue);
}
.displaycruise__base
  .displaycruise__mixedbox
  .displaycruise__centerbox
  .displaycruise__textbox {
  margin-top: 3rem;
}
.displaycruise__base .displaycruise__mixedbox .displaycruise__pricebox {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 2rem;
  position: relative;
}
.displaycruise__base
  .displaycruise__mixedbox
  .displaycruise__pricebox
  .displaycruise__price {
  font-size: 4rem;
}
.displaycruise__base
  .displaycruise__mixedbox
  .displaycruise__pricebox
  .displaycruise__arrowbox {
  position: absolute;
  height: 24.8rem;
  width: 2rem;
  background-color: #eccd1e;
  right: -0.1rem;
  top: -2rem;
  z-index: -1;
  transition: all 0.2s;
}
.displaycruise__base
  .displaycruise__mixedbox
  .displaycruise__pricebox
  .displaycruise__arrowbox
  .displaycruise__arrow {
  position: absolute;
  top: 50%;
  left: 100%;
}
.displaycruise__base .displaycruise__mixedbox:hover .displaycruise__arrowbox {
  width: 18rem;
}

.gallery__wrap .gallery__base {
  margin: auto;
  padding: 0 5rem;
  max-width: 150rem;
}
.gallery__wrap .gallery__base .gallery__titlebox .gallery__title {
  font-size: 4rem;
  font-weight: 700;
}
.gallery__wrap .gallery__base .gallery__titlebox .gallery__text {
  font-size: 2rem;
}
.gallery__wrap .gallery__base .gallery__mainbox {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 280px);
  grid-template-rows: repeat(2, 280px);
  grid-gap: 1rem;
}
.gallery__wrap .gallery__base .gallery__mainbox .gallery__imgbox {
  position: relative;
}
.gallery__wrap
  .gallery__base
  .gallery__mainbox
  .gallery__imgbox
  .gallery__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.gallery__wrap .gallery__base .gallery__mainbox .gallery__imgbox .gallery__img {
  border-radius: 0.4rem;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.footer__wrap {
  background-color: #203559;
  color: white;
}
.footer__wrap .footer__base {
  max-width: 160rem;
  margin: auto;
  padding: 0 5rem;
  padding-top: 3rem;
}
.footer__wrap .footer__base .footer__confidencebox {
  text-align: center;
}
.footer__wrap .footer__base .footer__confidencebox .footer__confidence__title {
  font-size: 3rem;
  font-weight: 700;
}
.footer__wrap .footer__base .footer__confidencebox .footer__confidence__text1 {
  font-size: 1.6rem;
  margin-top: 1rem;
}
.footer__wrap .footer__base .footer__confidencebox .footer__confidence__text2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 400;
}
.footer__wrap .footer__base .footer__3iconsbox .footer__iconbox {
  display: flex;
  justify-content: center;
}
.footer__wrap .footer__base .footer__3iconsbox .footer__iconbox .footer__icon {
  font-size: 4rem;
}
.footer__wrap
  .footer__base
  .footer__3iconsbox
  .footer__iconbox
  :not(:last-child) {
  padding-right: 10rem;
}
.footer__wrap .footer__base .footer__4sectionsbox {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
}
.footer__wrap
  .footer__base
  .footer__4sectionsbox
  .footer__listbox
  .footer__list__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.footer__wrap
  .footer__base
  .footer__4sectionsbox
  .footer__listbox
  .footer_list {
  list-style: none;
  font-size: 1.6rem;
  line-height: 3.5rem;
}
.footer__wrap .footer__base .footer__socialmediabox {
  margin-top: 5rem;
}
.footer__wrap .footer__base .footer__socialmediabox .footer__socialmedia {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 3rem;
}
.footer__wrap .footer__base .footer__company {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.6rem;
}
.footer__wrap .footer__base .footer__footerbox {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.footer__wrap .footer__base .footer__footerbox .footer__footeritems {
  text-align: center;
  font-size: 2rem;
  padding: 0 1rem;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.footer__wrap .footer__base .footer__companyLogo {
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
}

.sidebar__checkbox {
  display: none;
}

.sidebar__checkbox:checked ~ .sidebar__base {
  display: block;
}

.sidebar__base {
  display: none;
  position: fixed;
  z-index: 10;
  background-color: white;
  height: 100vh;
  width: 38rem;
  padding-left: 6rem;
  padding-right: 4rem;
}
.sidebar__base .sidebar__closebox {
  display: flex;
  height: 10rem;
  align-items: center;
  justify-content: flex-end;
}
.sidebar__base .sidebar__closebox .sidebar__checklabel {
  color: var(--color-blue);
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
}
.sidebar__base .sidebar__sectionbox .sidebar__listbox {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
}
.sidebar__base .sidebar__sectionbox .sidebar__listbox .sidebar__arrow {
  border-color: var(--color-blue);
}
.sidebar__base .sidebar__sectionbox .sidebar__listbox .sidebar__list {
  color: var(--color-blue);
  font-size: 2.5rem;
}

.search__wrap {
  position: relative;
  margin-top: 15rem;
  padding: 0 5rem;
}
.search__wrap .search__base .search__4sections {
  background-color: white;
  border-radius: 0.4rem;
  margin: auto;
  padding: 0 5rem;
  max-width: 160rem;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .search__wrap .search__base .search__4sections {
    background-color: white;
    border-radius: 0.4rem;
    margin: auto;
    padding: 0 5rem;
    max-width: 160rem;
    height: 25rem;
    transform: translateY(-5rem);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.search__wrap .search__base .search__4sections .search__itemsbox {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding-right: 3rem;
}
@media (max-width: 1000px) {
  .search__wrap .search__base .search__4sections .search__itemsbox {
    width: 100%;
    padding-right: 0;
  }
}
.search__wrap
  .search__base
  .search__4sections
  .search__itemsbox
  .search__textbox
  .search__text1 {
  font-size: 1.6rem;
}
.search__wrap
  .search__base
  .search__4sections
  .search__itemsbox
  .search__textbox
  .search__text2 {
  font-size: 2rem;
  color: var(--color-blue);
}
.search__wrap .search__base .search__4sections .search__searchbtn {
  padding-left: 2rem;
  display: block;
}
@media (max-width: 1000px) {
  .search__wrap .search__base .search__4sections .search__searchbtn {
    margin-bottom: 2rem;
  }
}
.search__wrap .search__base .search__4sections .search__searchbtn .search__btn {
  text-decoration: none;
  background-color: var(--color-blue);
  padding: 1rem 2.5rem;
  border-radius: 0.2rem;
  letter-spacing: 0.25rem;
  color: white;
  font-size: 2rem;
  font-weight: 400;
}
.search__wrap .search__background {
  position: absolute;
  background-image: linear-gradient(
    #855032 0%,
    #472a17 20%,
    #855032 45%,
    white 100%
  );
  height: 50rem;
  width: 100%;
  transform: translateX(-5rem);
  z-index: -1;
}

.form__wrap .form__base {
  padding: 0 5rem;
  margin: auto;
  max-width: 160rem;
}
.form__wrap .form__base .form__titlebox .form__title {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  text-transform: capitalize;
}
.form__wrap .form__base .form__5sectionsbox {
  margin-top: 2.5rem;
  display: flex;
}
@media (max-width: 1000px) {
  .form__wrap .form__base .form__5sectionsbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.form__wrap .form__base .form__5sectionsbox .form__inputbox {
  position: relative;
  flex-grow: 1;
}
@media (max-width: 1000px) {
  .form__wrap .form__base .form__5sectionsbox .form__inputbox {
    margin-top: 5rem;
  }
}
.form__wrap .form__base .form__5sectionsbox .form__inputbox .form__input {
  font-size: 1.6rem;
  width: 90%;
  padding: 1rem 0;
}
@media (max-width: 1000px) {
  .form__wrap .form__base .form__5sectionsbox .form__inputbox .form__input {
    width: 100%;
  }
}
.form__wrap
  .form__base
  .form__5sectionsbox
  .form__inputbox
  .form__input:focus
  ~ .form__label {
  top: -2rem;
  display: block;
}
.form__wrap .form__base .form__5sectionsbox .form__inputbox .form__input:focus {
  outline-color: var(--color-blue);
}
.form__wrap .form__base .form__5sectionsbox .form__inputbox .form__label {
  position: absolute;
  display: none;
  left: 0.4rem;
  top: 1.4rem;
  color: var(--color-blue);
}
@media (max-width: 1000px) {
  .form__wrap .form__base .form__5sectionsbox .form__signup__btnbox {
    margin-top: 5rem;
    text-align: center;
  }
}
.form__wrap
  .form__base
  .form__5sectionsbox
  .form__signup__btnbox
  .form__signup__btn {
  padding: 1rem 3rem;
  border-style: none;
  background-color: var(--color-blue);
  border-radius: 0.3rem;
  color: white;
  font-size: 2rem;
}
.form__wrap .form__base .form__privacybox {
  margin-top: 4rem;
  display: inline-block;
  font-size: 1.6rem;
}
.form__wrap .form__base .form__privacybox .form__privacy-a {
  display: inline-block;
}

.cruise {
  width: 80vw;
  height: 900rem;
  margin: auto;
  background-color: burlywood;
}
.cruise__box {
  display: flex;
  justify-content: space-between;
  width: 65vw;
  height: 20rem;
  margin: 1rem auto;
  background-color: cadetblue;
}
.cruise__box-image {
  height: 100%;
  width: 30rem;
  border-radius: 3px;
}
.cruise__box-details {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cruise__box-details p {
  color: #2b1ed8;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1rem 1rem;
  margin-left: 4rem;
}
.cruise__box-price {
  min-width: 15rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}
.cruise__box-arrow {
  min-width: 2.8rem;
  background-color: chocolate;
}

.filter__hidden {
  width: 80vw;
  height: 10rem;
  margin: auto;
  background-color: #0c56ac;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.filter__hidden-label {
  color: white;
  font-size: 2.5rem;
  padding: 0.5rem 0.5rem;
}
.filter__hidden-checkbox {
  display: none;
}
.filter__hidden-label:hover {
  background-color: #043e80;
}

.health__wrap {
  padding: 0 5rem;
}
.health__wrap .health__base {
  margin: auto;
  padding: 0 5rem;
  max-width: 145rem;
  border-radius: 1rem;
  border: #442d02 solid 5px;
  text-align: center;
}
.health__wrap .health__base .health__iconbox {
  margin-top: 3rem;
}
.health__wrap .health__base .health__iconbox .health__icon {
  color: white;
  font-size: 5rem;
}
.health__wrap .health__base .health__titlebox {
  margin-top: 1rem;
}
.health__wrap .health__base .health__titlebox .health__title {
  color: #442d02;
  font-size: 3rem;
  font-weight: 700;
}
.health__wrap .health__base .health__4sectionsbox {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
@media (max-width: 1000px) {
  .health__wrap .health__base .health__4sectionsbox {
    flex-wrap: wrap;
  }
}
@media (max-width: 1000px) {
  .health__wrap .health__base .health__4sectionsbox .health__mixedbox {
    max-width: 50%;
  }
}
@media (max-width: 750px) {
  .health__wrap .health__base .health__4sectionsbox .health__mixedbox {
    max-width: 100%;
  }
}
.health__wrap
  .health__base
  .health__4sectionsbox
  .health__mixedbox
  .health__mixed__textbox1
  .health__mixed__text1 {
  color: #442d02;
  font-size: 2.2rem;
  font-weight: 700;
}
.health__wrap
  .health__base
  .health__4sectionsbox
  .health__mixedbox
  .health__mixed__textbox2 {
  margin-top: 2rem;
}
.health__wrap
  .health__base
  .health__4sectionsbox
  .health__mixedbox
  .health__mixed__textbox2
  .health__mixed__text2 {
  font-size: 2rem;
}
.health__wrap .health__base .health__visitbtnbox {
  margin-top: 8rem;
}
.health__wrap .health__base .health__visitbtnbox .health__visitbtn {
  padding: 1.2rem 2.5rem;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  background-color: #442d02;
  border-radius: 0.2rem;
  text-decoration: none;
}
.health__wrap .health__base .health__textbox {
  margin-top: 5rem;
  margin-bottom: 4rem;
}
.health__wrap .health__base .health__textbox .health__text1 {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: black;
}
.health__wrap .health__base .health__textbox .health__text2 {
  font-size: 1.6rem;
  font-weight: 400;
}
